@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Comfortaa";
    src: url("/fonts/comfortaa.ttf");
  }
  body {
    @apply font-comfortaa;
  }
}

@layer base {
  /* Custom scrollbar */
  ::-webkit-scrollbar {
    @apply w-1.5;
    @apply h-1.5;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-white/50;
  }
}
@layer components {
  .selector {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

body {
  background-color: #070a0c;
  color: #e3e8eb;
}

.light {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(164, 169, 182, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.dark {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
}
